<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd' 'HH:mm:ss.SSSZ} %highlight(%-5level) [%thread, %X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %cyan(%C{0}.%M:%L) %yellow(%msg) %n</Property>
        <Property name="log-path">/var/log/afshin/</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="ErrorLogger" fileName="${log-path}/product-error.log" filePattern="${log-path}/archived/product-error-%d{yyyy-MM-dd}-%i.log.gz">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500 MB" />
            </Policies>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </RollingFile>
        <RollingFile name="EventLogger" fileName="${log-path}/product-event.log" filePattern="${log-path}/archived/product-event-%d{yyyy-MM-dd}-%i.log.gz">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500 MB" />
            </Policies>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </RollingFile>
        <RollingFile name="AllLogger" fileName="${log-path}/product-all.log" filePattern="${log-path}/archived/product-all-%d{yyyy-MM-dd}-%i.log.gz">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500 MB" />
            </Policies>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </RollingFile>
        <!--Graylog Extended Log Format-->
        <Gelf name="gelf" host="tcp:afshin" port="7000" version="1.1" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
              originHost="%host{fqdn}">
            <Field name="server" pattern="%host" />
            <Field name="service-name" pattern="cloud-product" />
            <Field name="simpleClassName" pattern="%thread" />
            <Field name="level" pattern="%-5level" />
            <Field name="className" pattern="%C{0}.%M:%L" />
            <Field name="timestamp" pattern="%d{yyyy-MM-dd' 'HH:mm:ss.SSSZ}" />
            <Field name="message" pattern="$%msg" />
            <!--<Field name="server.fqdn" pattern="%host{fqdn}" />-->
            <!-- This is a static field -->
            <!--<Field name="service-name" literal="cloud-product" />-->
            <!-- This is a field using MDC -->
            <!--<Field name="mdcField2" mdc="mdcField2" />-->
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
            <DynamicMdcFieldType regex="my_field.*" type="String" />
        </Gelf>
    </Appenders>
    <Loggers>
        <Logger name="EventLogger" level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="EventLogger" level="info"/>
        </Logger>
        <Logger name="ErrorLogger" level="error" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="ErrorLogger" level="error"/>
        </Logger>

        <Root level="debug" additivity="false">
            <AppenderRef ref="console" level="info"/>
            <AppenderRef ref="AllLogger" level="debug"/>
            <AppenderRef ref="gelf" level="debug"/>
        </Root>
    </Loggers>
</Configuration>